.btn-default {
  background-color: black;
  border: black 2px solid;
  padding: 1vw;
  color: whitesmoke;
}

button{
  cursor: pointer;
}



input{
  /* border: black 2px solid; */
  height: 3rem;
  /* padding: 1.3rem; */
  border-radius: 0.4rem;
}
label{
  margin: 0.3rem;
}
input :focus {
  border: 2px solid black;
  border-radius: 1rem;
}

.tooltip_cmp:hover .tooltip{
  visibility:visible;
  position: fixed;
  opacity: 1;
  transform: translateX(-50%) translateY(-180%);
}
.tooltip{
  visibility: hidden;
  position: absolute;
  z-index: 200;
  color: white;
  background-color: #171717; /* this is Tailwind's bg-gray-500 */
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  margin: 1.7vh;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.35s;
}
@media screen and (max-width: 500px){
  .icon-space-not-available{
    display: none;
  }
  .home-resize-full{
    width: 98%;
  }
  .chart-media{
    width: 90%;
  }
}

@media screen and (max-width: 726px){
  .home-resize .home-resize-full{
    width: 95%;
  }
  .heading{
    margin: 0%;
  }
  .chart-media{
    width: 80%;
  }
}
@media screen and (max-width: 1025px){
    .home-resize{
    width: 90%;
  }
  .heading{
    margin: 1rem;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}